/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
  height: 120%;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/housemeadow.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  color: #fff;
}
.hero .container {
  margin-top: 0;
}

.extra-details .button {
  font-size: 3rem;
}

.circle {
  border-radius: 50%;
  color: #fff;
  display: table-cell; 
  background: rgba(100, 149, 237, 0.8);
  overflow: hidden;
  white-space: nowrap;
}
.circle::before {
  content: "";
  float: left;
  padding-bottom: 50%;
}
.circle::after {
  clear: left;
  content: " ";
  display: table;
}
.circle .inner {
  padding: 3em;
}
.circle-container {
  min-width: 20em;
  min-height: 22em;
}
.extra-container {
  margin-top: 3em;
}

.circle h1 {
  margin: 0;
  font-size: 2em;
}
.circle h2 {
  margin: 0;
  font-size: 1em;
}
.circle img {
  width: 7em;
  height: 7em;
}
#countdown {
  font-size: 4rem;
  padding-right: 1rem;
}


/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  position: relative;
  background: linear-gradient(110deg, rgba(100, 149, 237, 0.8) 60%, rgba(100, 149, 237, 1.0) 60%);
  padding-bottom: 5rem;
}
.values::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Venue
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.venue {
  position: relative;
  background-image: url('../images/housemeadowbarn.jpg');
  background-size: cover;
  color: #fff;
}
.venue::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 2rem;
  line-height: 1em;
  padding: 1px;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 1em 0 0 0;
}
.navigation ul.full {
  display: none; /* Default state for small screens */
}
.navigation ul.mini {
  display: none; /* Default state for small screens */
}
.navigation li {
  display: block;
  border-left: 1px solid rgba(0,0,0,0.1);
  line-height: 3em;
}
.navigation a {
  padding: 1em;
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}
.navigation-spacer {
  display: block;
}

.navigation-launch {
  display: block;
  color: rgba(0,0,0,0.7);
  text-align: left;
  line-height: 2em;
  font-size: 2em;
  text-transform: uppercase;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    margin-top: 2em;
  }
  .hero .container {
    margin-top: 4em;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .navigation {
    display: block;
  }
  .navigation a {
    padding: 1em;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
  }
  .navigation ul.full {
    display: block; /* Default state for small screens */
  }
  .navigation ul.mini {
    display: none; /* Default state for small screens */
  }
  .navigation li {
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,0.1);
  }
  .navigation-launch {
    display: none;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .extra-details {
    position: absolute;
    bottom: 0;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero .row {
    padding-top: 5em;
  }
  .hero .container {
    margin-top: 4em;
  }
  .navigation {
    min-height: 5rem;
    line-height: 3em;
  }
  .navigation a {
    padding: 1em;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }
  .navigation ul.full {
    display: block; /* Default state for small screens */
  }
  .navigation ul.mini {
    display: none; /* Default state for small screens */
  }
  .navigation li {
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,0.1);
  }
  .navigation-launch {
    display: none;
  }
}